/* src/styles.scss */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ngx-toastr/toastr';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
  width: 100%;
}

.mat-card {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1rem;
}